@import '../../App.scss';

.header-wrapper {
  background: $white;

  .header-icon {
    margin: 0 12px;
    font-size: 32px;
    transition: $transition;
    cursor: pointer;

    &:hover {
      color: $blue;
      transform: scale(1.05);
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

    .header-menu-mobile {
      display: flex;
      align-items: center;
      display: none;
      margin: 10px 12px 0 0;
    }

    .header-logo {
      flex: 1;
      display: flex;
      justify-content: flex-start;

      img {
        width: 145px;
        transition: $transition;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    .header-search {
      flex: 3;
      position: relative;
      margin: 0 24px;

      .header-search-icon {
        position: absolute;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header-search-bar {
        input {
          width: 100%;
          height: 45px;
          background: $white;
          color: $text;
          font-size: 12px;
          border-radius: $radius;
          border: 2px solid $blue;
          padding-left: 45px;
          padding-right: 110px;
          outline: none;
        }
      }

      .header-search-btn {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          width: 100px;
          height: 45px;
          font-size: 15px;
          line-height: 24.5px;
          font-weight: 500;
          padding: 0 10px;
          background: $blue;
          color: $white;
          border-radius: 0 16px 16px 0;
        }
      }
    }

    .header-user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      margin-left: 20px;

      .header-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .secondary-action {
        color: $text;
        font-size: 12px;
        line-height: 12px;
      }

      .primary-action {
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
      }

      .header-account,
      .header-cart {
        display: flex;
        flex-direction: row;
      }

      .header-account,
      .header-wishlist,
      .header-cart {
        cursor: pointer;

        &:hover .header-icon {
          color: $blue;
        }
      }
    }
  }

  .header-search-mobile {
    display: none;
    position: relative;
    margin: 12px 24px 0 24px;

    .header-search-icon {
      position: absolute;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-search-bar {
      input {
        width: 100%;
        height: 45px;
        background: $white;
        color: $text;
        font-size: 12px;
        border-radius: $radius;
        border: 2px solid $blue;
        padding-left: 45px;
        padding-right: 110px;
        outline: none;
      }
    }

    .header-search-btn {
      position: absolute;
      top: 0;
      right: 0;

      .btn {
        width: 100px;
        height: 45px;
        font-size: 15px;
        line-height: 24.5px;
        font-weight: 500;
        padding: 0 10px;
        background: $blue;
        color: $white;
        border-radius: 0 16px 16px 0;
      }
    }
  }

  .header-all-menu {
    position: relative;
    padding: 0 30px;

    .header-all-menu-container {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid #eee;

      > div {
        flex: 1;
        padding: 16px 0;
      }

      .header-icon {
        font-size: 20px;
        margin-left: 0;
      }

      h3 {
        font-size: 14px;
        font-weight: 600;
      }
      .header-menu,
      .header-recent {
        transition: $transition;

        .header-menu-icon {
          font-size: 20px;
          margin: 0 12px 0 0;
          cursor: pointer;
        }

        &:hover {
          color: $blue;
        }
      }

      .header-menu {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        user-select: none;
      }

      .header-categories {
        flex: 2;
        display: flex;
        justify-content: center;

        ul {
          li {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0;
            transition: $transition;

            a {
              padding: 0 20px;
            }

            &:hover {
              color: $blue;
              transform: scale(1.05);
            }
          }
        }
      }

      .header-recent {
        display: flex;
        justify-content: flex-end;
      }
    }

    .sub-menu {
      position: absolute;
      top: 120%;
      left: 0;
      display: none;
      width: 300px;
      padding: 8px 0;
      background: $white;
      border-radius: $radius;
      z-index: 999;

      ul.sub-menu-menu {
        li.sub-menu-menu-item {
          position: relative;
          font-weight: 500;
          padding: 0 30px;
          transition: $transition;
          z-index: 999;

          .sub-menu-icon {
            font-size: 20px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
          }

          a {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 12px 0;
            border-bottom: 2px solid #eee;

            span {
              margin-left: 20px;
              margin-right: auto;
            }

            .sub-menu-icon-more {
              font-size: 14px;
            }
          }

          &:hover {
            color: $blue;
            transform: scale(1.05);
          }

          ul.sub-menu-sub-menu-item {
            display: none;
            position: absolute;
            top: -7px;
            left: 293px;
            background: $white;
            border-radius: $radius;
            padding: 8px 0;

            .sub-menu-sub-menu-row {
              display: flex;
              justify-content: space-between;

              .sub-menu-sub-menu-col {
                padding: 8px 30px;
                width: 370px;

                h4 {
                  color: $blue;
                  padding: 4px 0;
                  font-size: 14px;
                  cursor: default;
                  margin-top: 8px;
                }

                li {
                  display: block;

                  a {
                    font-size: 13px;
                    color: $black;
                    border-bottom: none;
                    padding: 6px 0;
                    transition: $transition;

                    &:hover {
                      color: $blue;
                      opacity: 0.7;
                      transform: translateX(8px);
                    }
                  }
                }

                a {
                  border-bottom: none;

                  img {
                    width: 100%;
                    // width: 300px;
                    border-radius: $radius;
                  }
                }

                &:nth-of-type(3) {
                  width: 350px;
                }
              }
            }
          }

          &:hover ul.sub-menu-sub-menu-item {
            display: block;
          }

          &.inactive {
            display: none;
          }

          &.active {
            display: block;
          }
        }

        li:last-of-type a {
          border: none;
        }
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1280px) {
  .header-wrapper {
    .header-all-menu {
      .sub-menu {
        &.show {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    .header-container {
      display: flex;
      padding-bottom: 0;

      .header-menu-mobile {
        display: block;
      }

      .header-logo {
        justify-content: center;
      }

      .header-search {
        display: none;
      }

      .header-user {
        .header-account,
        .header-wishlist {
          display: none;
        }

        .header-actions {
          display: none;
        }
      }
    }

    .header-search-mobile {
      display: block;
      padding-bottom: 24px;
    }

    .header-all-menu {
      display: none;
    }
  }
}
