@import '../../../App.scss';

.hero-wrapper {
  .hero-container-top {
    display: flex;
    gap: 30px;
    position: relative;
    padding-top: 40px;

    .hero-icon {
      font-size: 20px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .hero-left,
    .hero-right {
      background: $white;
      border-radius: 16px;
    }

    .hero-left {
      width: 300px;
      padding: 8px 0;

      ul.hero-menu {
        li.hero-menu-item {
          position: relative;
          padding: 0 30px;
          transition: all 0.2s ease-in-out;
          z-index: 999;
          font-weight: 500;

          a {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 12px 0;
            border-bottom: 2px solid #eee;

            span {
              margin-left: 20px;
              margin-right: auto;
            }

            .hero-icon-more {
              font-size: 14px;
            }
          }

          &:hover {
            color: $blue;
            transform: scale(1.05);
          }

          ul.hero-sub-menu-item {
            display: none;
            position: absolute;
            top: -10px;
            left: 270px;
            background: $white;
            border-radius: 16px;
            padding: 8px 0;

            .hero-sub-menu-row {
              display: flex;
              justify-content: space-between;

              .hero-sub-menu-col {
                padding: 8px 30px;
                width: 270px;

                h4 {
                  color: $blue;
                  padding: 4px 0;
                  font-size: 14px;
                  cursor: default;
                  margin-top: 8px;
                }

                li {
                  display: block;

                  a {
                    font-size: 13px;
                    color: $black;
                    border-bottom: none;
                    padding: 6px 0;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                      color: $blue;
                      opacity: 0.7;
                      transform: translateX(8px);
                    }
                  }
                }

                a {
                  border-bottom: none;

                  img {
                    width: 100%;
                    // width: 300px;
                    border-radius: 16px;
                  }
                }

                &:nth-of-type(3) {
                  width: 350px;
                }
              }
            }
          }

          &:hover ul.hero-sub-menu-item {
            display: block;
          }
        }

        li:last-of-type a {
          border: none;
        }
      }
    }

    .hero-right {
      width: calc(100% - 300px);
      min-height: 478px;

      .swiper {
        width: 100%;
        height: 478px;
        border-radius: 16px;
        position: relative;
        z-index: 1;

        img,
        video {
          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }

        .swiper-container {
          width: 100%;
          min-height: 425px;
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .swiper-title,
          .swiper-heading {
            width: 50%;
            color: $white;
            justify-content: center;
            text-align: center;
            cursor: default;
          }

          .swiper-title {
            font-size: 16px;
            opacity: 0.7;
            margin-bottom: 12px;
          }

          .swiper-heading {
            font-size: 52px;
          }
        }
      }

      .swiper-pagination {
        margin-bottom: 24px;
      }

      .swiper-pagination-bullet {
        opacity: 0.2;
        background: $white;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  .hero-container-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .hero-left,
    .hero-middle,
    .hero-right {
      position: relative;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .hero-bottom-text {
      width: 50%;
      position: absolute;
      top: 24%;
      left: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;

      h4 {
        margin-bottom: 20px;
      }

      span {
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: underline;
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .hero-wrapper {
    .hero-container-top {
      .hero-left {
        display: none;
      }

      .hero-right {
        width: 100%;
      }
    }

    .hero-container-bottom {
      flex-direction: column;

      .hero-left,
      .hero-middle,
      .hero-right {
        &:hover {
          transform: scale(1);
        }
      }

      .hero-bottom-text {
        h4 {
          font-size: 40px;
          margin-bottom: 24px;
        }

        span {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    .hero-container-top {
      .hero-left {
      }

      .hero-right {
        .swiper {
          .swiper-container {
            .swiper-title,
            .swiper-heading {
              width: 70%;
            }

            .swiper-title {
              font-size: 12px;
            }

            .swiper-heading {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .hero-wrapper {
    .hero-container-top {
      .hero-left {
      }

      .hero-right {
        .swiper {
          .swiper-container {
            .swiper-title,
            .swiper-heading {
              width: 90%;
            }

            .swiper-title {
              font-size: 12px;
            }

            .swiper-heading {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}
